	<!DOCTYPE html>
	<html lang="en">
	<head>
	<meta charset="UTF-8">
	<title>Wisdom & Transport</title>
	</head>
	<body>
	 	{{range .Wisdom}}
	 	<li>{{uc .Name}} - {{ft .Name}}</li> 
	 	{{end}} 
	</body>
	</html>
	